<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>
      Select Currency
    </ion-title>

    <ion-buttons *ngIf="currency" slot="end">
      <ion-button (click)="updateProfile()" strong>Done</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list style="padding-top: 20px !important;">
    <ion-input [(ngModel)]="searchCurrency" placeholder="Type to search" (keyup)="filterCurrency()"></ion-input>

    <ion-radio-group [(ngModel)]="currency">
      <ion-item lines="none" *ngFor="let cur of currencies;">
        <ion-radio labelPlacement="end" slot="start" [value]="cur.value">{{cur.label}}</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>