<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Timeline
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Timeline</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="rb-container" *ngIf="timeLine && timeLine.length">
    <ul class="rb">
      <li *ngFor="let line of timeLine;" class="rb-item" ng-repeat="itembx">
        <div class="rb-body">
          <div class="timestamp">
            {{line.date}}
          </div>
          <div class="item-title" [innerHtml]="line.changes | safeHtml"></div>
          <div *ngIf="line.termChange > 0" style="margin-top: 10px; color: red;">
            {{line.termChange}} months term is increased.
          </div>
          <div *ngIf="line.interestChange > 0" style="color: red;">
            Interest amount {{line.interestChange | appCurrency: '' }} is increased.
          </div>
          <div *ngIf="line.termChange < 0" style="margin-top: 10px; color: green;">
            {{line.termChange * -1}} months term is reduced.
          </div>
          <div *ngIf="line.interestChange < 0" style="color: green;">
            Interest amount {{line.interestChange * -1 | appCurrency: '' }} is decreased.
          </div>
        </div>
      </li>
    </ul>
  </div>
</ion-content>