<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Statistics
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (loanChartOpns) {
    <ion-card class="welcome-card">
      <h4 style="text-align: center;"> Year Wise Payment</h4><ion-card-content>
      <highcharts-chart [Highcharts]="Highcharts" [options]="loanChartOpns"></highcharts-chart>
    </ion-card-content>
  </ion-card>
}

@if (instaChartOpns) {
  <ion-card class="welcome-card">
    <h4 style="text-align: center;"> Principal Paid vs Interest Paid</h4>
    <ion-card-content>
      <highcharts-chart [Highcharts]="Highcharts" [options]="instaChartOpns"></highcharts-chart>
    </ion-card-content>
  </ion-card>
}
</ion-content>