<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Support/Feedback
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <div>If you have any concern or </div>
      <div>If you found any issue, </div>
      <div> then please feel free to send E-mail to
        <a href="mailto:altooxs@gmail.com">altooxs@gmail.com</a>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="primary" style="padding: 15px;">
      <h3 style="margin: 0px;">Our Motivation</h3>
    </ion-card-header>
    <ion-card-content>
      <p>
        Our aim is to help you to track of your loan EMI and encourage you to pay prepayment by showing the laon
        interest
        reduction and term reduction due to prepayment or part payment.
      </p>
      <p>
        Most people feels difficult to understand the logic behind the EMI calculation. We are trying to help people to
        understand, How EMI is calculated each month and how each month of your loan principle amount is reduced.
      </p>

      <p>
        <strong>Privacy</strong><br>
        A complete Privacy, that what we assure to our users.
        We will not store your data in any other server. We will store it inside your device only. For more details, <a
          href="https://prepayment-advisor.web.app/privacy">click here</a>.
      </p>


      <p>
        <strong>Caution:</strong><br>
        Since we will not store any of your data, please take a backup of your data using our Backup/Restore option in
        our
        App
        whenever you want.
      </p>

      <p>
        We personally felt difficult when we planned to pay prepayment because we don't how much it could reduce the
        loan
        interest amount and tenure, so our aim to help the people like us.
      </p>

      <p>
        Please feel free to share you feedback so that we could improve ourself to help more people like us.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>