<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title> Support/Feedback </ion-title>
  </ion-toolbar> </ion-header
> 

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <div>
        if they have any questions, concerns, or encounter problems related to
        our product or service then please feel free to send E-mail to
        <a href="mailto:altooxs@gmail.com">altooxs&#64;gmail.com</a>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header color="primary" style="padding: 15px">
      <h3 style="margin: 0px">Our Motivation</h3>
    </ion-card-header>
    <ion-card-content>
      <p>
        Our goal is to assist users in tracking their loan EMIs and to encourage
        prepayments by demonstrating potential savings. By providing insights
        into how small prepayments or part payments can significantly reduce the
        overall interest and shorten the loan tenure.
      </p>
      <p>
        Many people find it challenging to understand the logic behind EMI
        calculations. Our aim is to simplify this process and help users
        comprehend how their monthly EMIs are determined. We will provide clear
        explanations of how each EMI contributes to reducing the principal loan
        amount and how interest is calculated. By breaking down these details.
      </p>

      <p>
        <strong>Privacy</strong><br />
        A complete Privacy, that what we assure to our users. We will not store
        your data in any other server. We will store it inside your device only.
        For more details,
        <a href="https://prepayment-advisor.web.app/privacy">click here</a>.
      </p>

      <p>
        <strong>Caution:</strong><br />
        Since we will not store any of your data, please take a backup of your
        data using our Backup/Restore option in our App whenever you want.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
