<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Support/Feedback
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Support/Feedback</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-content style="font-size: 17px;">
        <div>If you have any concern or </div>
        <div>If you found any issue, </div>
        <div> then please feel free to send E-mail, by
          <a href="mailto:altooxs@gmail.com">clicking here.</a>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>