<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add Loan
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  <form [formGroup]="loanForm">
    <ion-card>
      <ion-list>

        <span class="label">Enter Rate of Interest per year</span>
        <ion-input formControlName="interestRate" type="number" autofocus="true" placeholder="7.5" autofocus="true"
          required>
        </ion-input>

        <ion-text color="danger"
          *ngIf="loanForm.get('interestRate').dirty || loanForm.get('interestRate').touched || submitted == true">
          <p *ngIf="loanForm.get('interestRate').hasError('required')">
            <ion-icon name="information-circle-outline"></ion-icon>Rate of Interest is required
          </p>
          <p *ngIf="loanForm.get('interestRate').hasError('min')">
            <ion-icon name="information-circle-outline"></ion-icon>Rate of Interest should be greater than 0
          </p>
          <p *ngIf="loanForm.get('interestRate').hasError('max')">
            <ion-icon name="information-circle-outline"></ion-icon>Rate of Interest should be less than 50
          </p>
        </ion-text>

        <span class="label">Enter EMI amount</span>
        <ion-input formControlName="emi" type="number" placeholder="30000" amountInput required></ion-input>

        <ion-text color="danger" *ngIf="loanForm.get('emi').dirty || loanForm.get('emi').touched || submitted == true">
          <p *ngIf="loanForm.get('emi').hasError('required')">
            <ion-icon name="information-circle-outline"></ion-icon>EMI is required
          </p>
          <p *ngIf="loanForm.get('emi').hasError('min')">
            <ion-icon name="information-circle-outline"></ion-icon>EMI should be greater than 1
          </p>
          <p *ngIf="loanForm.get('emi').hasError('max')">
            <ion-icon name="information-circle-outline"></ion-icon>EMI should be less than 99999999
          </p>
          <p *ngIf="minEmi >loanForm.get('emi').value">
            <ion-icon name="information-circle-outline"></ion-icon>As per your loan amount, your minimum EMI should be
            greater than {{minEmi}}
          </p>
        </ion-text>

        <ion-list>
          <ion-radio-group formControlName="amountType" class="radio-with-ul">
            <ion-card>
              <ion-item lines="none">
                <ion-label text-wrap>Please select this if you know</ion-label>
                <ion-radio slot="start" value="FULL_TRANS"></ion-radio>
              </ion-item>
              <ul>
                <li>All the amount paid as EMI</li>
                <li>All interest rate movement with date</li>
                <li>All the prepayment or part payment with date if paid any</li>
                <li>All the loan topup or disbursement if you got any</li>
              </ul>
              <div class="radio-label">Without above information we can't able calculate the outstanding amount
                correctly</div>
            </ion-card>

            <ion-card style="margin-top: 30px;">
              <ion-item lines="none">
                <ion-label text-wrap>Don't worry if you just know the current outstanding, Just select this and plan for
                  the future</ion-label>
                <ion-radio slot="start" value="OUTSTANDING_AMOUNT"></ion-radio>
              </ion-item>
            </ion-card>
          </ion-radio-group>
        </ion-list>

        <ion-text color="danger"
          *ngIf="loanForm.get('amountType').dirty || loanForm.get('amountType').touched || submitted == true">
          <p *ngIf="loanForm.get('amountType').hasError('required')">
            <ion-icon name="information-circle-outline"></ion-icon>Please select any of above option
          </p>
        </ion-text>

        <span class="label" *ngIf="loanForm.get('amountType').value == 'FULL_TRANS'">Enter Loan amount</span>
        <span class="label" *ngIf="loanForm.get('amountType').value == 'OUTSTANDING_AMOUNT'">Enter Current Outstanding
          amount</span>
        <ion-input *ngIf="loanForm.get('amountType').value" formControlName="amount" type="number" placeholder="700000"
          amountInput required></ion-input>

        <ion-text color="danger"
          *ngIf="loanForm.get('amount').dirty || loanForm.get('amount').touched || submitted == true">
          <p *ngIf="loanForm.get('amount').hasError('required')">
            <ion-icon name="information-circle-outline"></ion-icon>Amount is required
          </p>
          <p *ngIf="loanForm.get('amount').hasError('min')">
            <ion-icon name="information-circle-outline"></ion-icon>Amount should be greater than 1
          </p>
          <p *ngIf="loanForm.get('amount').hasError('max')">
            <ion-icon name="information-circle-outline"></ion-icon>Amount should be less than 9999999999
          </p>
          <p *ngIf="loanForm.get('amount').value && loanForm.get('amount').value < loanForm.get('emi').value">
            <ion-icon name="information-circle-outline"></ion-icon>Amount should be greater than EMI
          </p>
        </ion-text>

        <ion-item lines="none">
          <ion-label *ngIf="loanForm.get('amountType').value == 'FULL_TRANS'">EMI start date</ion-label>
          <ion-label *ngIf="loanForm.get('amountType').value == 'OUTSTANDING_AMOUNT'">Outstanding amount as of
          </ion-label>
          <ion-datetime *ngIf="loanForm.get('amountType').value" displayFormat="DD MMMM YYYY"
            formControlName="startDate" min="2010-01-01" max="{{maxDate}}" placeholder="Select Date" required>
          </ion-datetime>
        </ion-item>

        <ion-text color="danger"
          *ngIf="loanForm.get('startDate').dirty || loanForm.get('startDate').touched || submitted == true">
          <p *ngIf="loanForm.get('startDate').hasError('required')">
            <ion-icon name="information-circle-outline"></ion-icon>Date is required
          </p>
        </ion-text>

        <ion-item lines="none">
          <ion-label>EMI debit day</ion-label>
          <ion-select formControlName="emiDay" placeholder="Select" style="max-width: none;" required>
            <ion-select-option *ngFor="let day of days" [value]="day">{{day}} of every month</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-text color="danger"
          *ngIf="loanForm.get('emiDay').dirty || loanForm.get('emiDay').touched || submitted == true">
          <p *ngIf="loanForm.get('emiDay').hasError('required')">
            <ion-icon name="information-circle-outline"></ion-icon>EMI Day is required
          </p>
        </ion-text>

        <span class="label">Loan Name (Optional)</span>
        <ion-input formControlName="name" placeholder="Home Loan or Car Loan"></ion-input>
      </ion-list>

      <ion-row>
        <ion-col>
          <ion-button (click)="save(loanForm)" type="submit" expand="block">Save</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </form> 
</ion-content>