<ion-list>
  <ion-item button (click)="timeline()">
    <ion-icon name="time-outline"></ion-icon>
    <ion-label>Timeline</ion-label>
  </ion-item>
  <ion-item button (click)="claculationLogic()">
    <ion-icon name="calculator-outline"></ion-icon>
    <ion-label>Calculation Logic</ion-label>
  </ion-item>
  <ion-item button (click)="statistics()">
    <ion-icon name="pie-chart-outline"></ion-icon>
    <ion-label>Statistics</ion-label>
  </ion-item>
  <ion-item button (click)="deleteLoan()">
    <ion-icon color="danger" name="trash-outline"></ion-icon>
    <ion-label>Delete Loan</ion-label>
  </ion-item>
</ion-list>