<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Prepayment Advisor
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  <ion-grid *ngIf="loans && loans.length" fixed>
    <ion-card *ngFor="let loan of loans" class="speaker-card">
      <ion-card-header color="primary">
        <ion-grid>
          <ion-row *ngIf="loan.name">
            <ion-col class="loan-name">{{loan.name}}</ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>Loan Amount</div>
              <h2>{{ loan.amount | appCurrency: 'noDecimal' }}</h2>
            </ion-col>
            <ion-col>
              <div>Rate of Interest</div>
              <h2>{{loan.interestRate}}%</h2>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col class="ion-align-self-start">
              EMI
            </ion-col>
            <ion-col size="5" class="ion-align-self-end">
              {{ loan.emi | appCurrency: '' }}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!loan.isCompleted">
            <ion-col class="ion-align-self-start">
              Principal Paid
            </ion-col>
            <ion-col size="5" class="ion-align-self-end" style="color: green;">
              {{ loan.principalPaid | appCurrency: '' }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-align-self-start">
              Interest Paid
            </ion-col>
            <ion-col size="5" class="ion-align-self-end" style="color: red;">
              {{ loan.interestPaid | appCurrency: '' }}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!loan.isCompleted">
            <ion-col class="ion-align-self-start">
              Balance Term
            </ion-col>
            <ion-col size="5" class="ion-align-self-end">
              {{ loan.balanceTerm | monthToYear}}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!loan.isCompleted">
            <ion-col class="ion-align-self-start">
              Balance Amount
            </ion-col>
            <ion-col size="5" class="ion-align-self-end">
              {{ loan.balanceAmount | appCurrency: '' }}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="loan.isCompleted">
            <ion-col class="ion-align-self-start">
              Total Paid Amount
            </ion-col>
            <ion-col size="5" class="ion-align-self-end">
              {{ loan.amount + loan.interestPaid | appCurrency: '' }}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="loan.isCompleted" style="color: red;">
            <ion-col>
              You have paid {{((loan.interestPaid/(loan.amount + loan.interestPaid)) * 100).toFixed(2)}}% for interest.
            </ion-col>
          </ion-row>
          <ion-row *ngIf="loan.isCompleted" style="color: green;">
            <ion-col>
              <strong>The Loan is completed on {{loan.completedAt | date: 'MMMM YYYY'}}</strong>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      <ion-button (click)="loanOther(loan)" expand="block" color="light" style="margin: 0px;">Details</ion-button>
    </ion-card>
  </ion-grid>

  <div *ngIf="!loans || !loans.length">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Why Prepayment?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        A small prepayment can significantly reduce the loan term or EMI amount
      </ion-card-content>
    </ion-card>

    <ion-card style="margin-top: 40px;">
      <ion-card-header>
        <ion-card-title>Ready to get advice for your loan?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Please provide the basic information about your loan, then click on the
        <ion-icon slot="icon-only" name="play-circle-outline" color="success" class="play-area"></ion-icon>
        Play Area icon to see the prepayment
        advantages
      </ion-card-content>

      <div style="margin: 20px 0 20px 0; text-align: center;">
        <ion-button (click)="newLoan()" color="primary">
          <ion-icon name="add-circle-outline"></ion-icon>
          <span style="padding-left: 10px;">Loan</span>
        </ion-button>
      </div>
    </ion-card>
     <ion-card>
      <ion-card-header>
        <ion-card-title>Don't want to give all info?</ion-card-title>
      </ion-card-header>
      <ion-card-content>Just go to
        <ion-icon (click)="playArea();" slot="icon-only" name="play-circle-outline" color="success" class="play-area">
        </ion-icon>
        Play Area in the left side menu to see the prepayment advantages
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>