<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Prepayment Advisor
    </ion-title>
  </ion-toolbar>
</ion-header> 

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Prepayment Advisor</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Why Prepayment?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        A small prepayment can significantly reduce the loan term or EMI amount
      </ion-card-content>
    </ion-card>

    <ion-card style="margin-top: 40px;">
      <ion-card-header>
        <ion-card-title>Ready to get advice for your loan?</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Please provide the basic information about your loan.
      </ion-card-content>

      <div style="margin: 20px 0 20px 0;">
        <ion-button (click)="newLoan()" color="primary">
          <ion-icon name="add-circle-outline"></ion-icon>
          <span style="padding-left: 10px;">Loan</span>
        </ion-button>
      </div>
    </ion-card>
     
  </div>
</ion-content>